*
!.dockerignore
!package.json
!yarn.lock
!babel.config.js
!prettier.config.js
!vue.config.js
!.eslintrc.js
!src/
!src/**
!public/
!public/**
!packages/
!packages/**
!deploy/
deploy/*
!deploy/easy-chat/
!deploy/easy-chat/**
!deploy/siye-world/
!deploy/siye-world/**

.env
.env.*
!.env.example
!.env.development
!.env.production
packages/*/.env
packages/*/.env.*
!packages/*/.env.example
node_modules
**/node_modules
dist
**/dist
*.log
yarn-error.log
