EASY_CHAT_IMAGE=siyesummer/easy-chat:0.0.1
EASY_CHAT_BIND_ADDRESS=127.0.0.1
EASY_CHAT_HOST_PORT=3130
EASY_CHAT_CORS_ALLOW_ORIGIN=http://localhost:8080,http://127.0.0.1:8080,http://siyefun.top,https://music.siyes.cn
